body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, black, #42b8837e);

    color: #ffffff;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #42b883;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel img {
    height: 400px;
}

main {
    padding: 20px;
}

section {
    background-color: #1e1e1e;
    margin-bottom: 20px;
    padding: 15px;
    border-left: 5px solid #42b883;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: #42b883;
    margin-bottom: 10px;
}

article {
    background-color: #2a2a2a;
    padding: 10px;
    margin-top: 10px;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    border-top: 3px solid #42b883;
}